/* custom css goes here */

.justify-product-button {
    margin: -5px;
}

.tab-title {
    font-family: "DroidKufi", serif;
    font-weight: normal;
    font-style: normal;
}

.align-right {
    float: right;
    text-align: right;
}

.bar .title {
    text-align: center;
}

.bar .title.title-left {
    text-align: center;
    left: 57px !important;
}

.toggle-small .handle {
    top: 8px;
}

.item-input input{
    padding-right: 5px;
}
.card .item.item-input input, .list-inset .item.item-input input, .padding-horizontal > .list .item.item-input input, .padding > .list .item.item-input input {
    padding-right: 5px;
}

.full-image {
    width: 100%;
    height:70%;
}

.item-complex.item-icon-right .item-content {
    padding-right: 12px;
}

.button {
 background-color: #69BD43;
}

.seemore{
    height: 40px;
}

.col-80 {
    flex: 0 0 100%;
    max-width: 100%;
}

.button.button-full {
    margin-right: -15px;
    margin-left: 10px;
}

.bar.bar-assertive.bar-footer {
    background-image: linear-gradient(180deg,#549835,#549835 50%,transparent 50%);
}

.bar.bar-assertive {
    border-color: #549835;
    background-color: #549835;
    background-image: linear-gradient(0deg,#549835,#549835 50%,transparent 50%);
    color: #fff;
}

.bar-assertive .button {
    border-color: transparent;
    background-color: #549835;
    color: #fff;
}

.bar-assertive .button.activated {
    border-color: transparent;
    background-color: #549835;
    color: #fff;
}

.swap-sides{
    !important;
}